<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="ollanta humala, presidente del peru, III Cumbre ASPA , ASPA III, movíl, versión movíl" />
  <meta name="title" content="III Cumbre ASPA" />
  <meta name="description" content="III Cumbre ASPA " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
  <script src="http://50.116.43.119/aspa/static/js/prueba.js" type="text/javascript"></script>
<!--  <script src="{{ STATIC_URL }}js/andina.js" type="text/javascript"></script>-->

<style>
#result{
width:500px;height:100px;background-color:red;display:block;
}
</style>
<title>III Cumbre ASPA</title>
</head>
<body>
<div class="row-fluid">
	<div id="noticias">

	</div>
</div>
</body>
</html>
