{% extends "admin/base_site.html" %}
<!-- LOADING -->
{% load i18n grp_tags log %}

<!-- JAVASCRIPTS -->
    <style>
#grp-content {
    position: relative;
    float: left;
    clear: both;    
    /*padding: 0px 20px 120px;*/
    width: 100%;
    -moz-box-sizing: border-box;
}
</style>

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %} 
      
    
{% endblock %}
{% block content_title %}
{% endblock %}
<!-- CONTENT -->
{% block content %}


       
{% endblock %}

